@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

body {
  background: #555c50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #555C50;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.todoWrapper {
  background: #e48e55;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.todoForm {
  margin-bottom: 10px;
}

.todoInput {
  outline: none;
  background: none;
  border: 2px solid #555C50;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 600px;
  color: #555c50;
}

.todoInput::placeholder {
  color: #555c5097;
  font-weight: 600;
}

.todoButton {
  background: #555C50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.55rem;
  cursor: pointer;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #555C50;
  color: #ffffffdb;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.completed {
  color: #e48e55;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}

@media (max-width: 440px) {
  * {
    font-size: 18px;
  }
  .todoWrapper {
    width: 90vw;
    margin-top: 60px;
    padding: 10px;
  }
  .todoForm {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
  }
  .todoInput {
    width: 100px;
    flex: 4 1 0;
    margin: 0;
    margin-right: 10px;
    padding: 10px;
  }
  .todo {
    padding: 0px 10px;
    margin-bottom: 5px;
  }
}